<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-app="app">
    <div class="container-fluid" ng-controller="control1">
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/logo4.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">

                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">HALOTRIP</h1>
                                <!-- <h6 class="tm-site-description">Restaurant, HI
                                    <%=DataUser[0]%>
                                </h6> -->
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="home1" class="tm-nav-link active">HOME</a></li>
                                <li class="tm-nav-li"><a href="logout" class="tm-nav-link">LOG OUT</a></li>
                                <li class="tm-nav-li"><a href="admin" class="tm-nav-link">CONTACT</a></li>
                                <li class="tm-nav-li"><div class="boxx">
                                    <div class="container-1">
                                        
                                        <input type="search" id="search" placeholder="Search..." />
                                        <span class="icon"><i class="fa fa-search"></i></span>
                                    </div>
                                  </div></li>
                                <!-- <div class="col-xl-2 col-lg-2 col-md-4">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        <i class="fas fa-search special-tag"></i>
                                        <div class="search-box">
                                            <form>
                                                <input value="pizza" type="text" placeholder="Search">
                                                <button>Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div> -->

                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>